pipeline/TransformSalary_lookup.json
{
	"name": "TransformSalary_lookup",
	"properties": {
		"activities": [
			{
				"name": "Lookup_PayPeriods",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT DISTINCT pay_period AS pay_period FROM [dbo].[Salaries]",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "OutputSqlDataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "ForEach_PayPeriod_1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_PayPeriods",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@coalesce(activity('Lookup_PayPeriods').output.value, json('[]'))",
						"type": "Expression"
					},
					"batchCount": 1,
					"activities": [
						{
							"name": "If_ShouldProcessPeriod_1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(length(string(item().pay_period)), 0)",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "SkipReason",
										"type": "SetVariable",
										"dependsOn": [],
										"policy": {
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"variableName": "pipelineReturnValue",
											"value": [
												{
													"key": "skip_reason",
													"value": {
														"type": "String",
														"content": "concat('Skipped invalid pay_period for item: ', string(item()))"
													}
												}
											],
											"setSystemVariable": true
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "DF_Transform_ByPayPeriod_1",
										"type": "ExecuteDataFlow",
										"dependsOn": [],
										"policy": {
											"timeout": "0.12:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"dataflow": {
												"referenceName": "transformSalary_df",
												"type": "DataFlowReference",
												"parameters": {
													"pPayPeriod": {
														"value": "'@{item().pay_period}'",
														"type": "Expression"
													}
												}
											},
											"compute": {
												"coreCount": 8,
												"computeType": "General"
											},
											"traceLevel": "Fine"
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}